<h1> ¿Olvidaste tu contraseña?</h1>

<div class="col-md-6">
    <%= form_with url: password_reset_path do |form| %>
        <div class="mb-3">
            <%= form.label :mail %>
            <%= form.text_field :mail, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.submit "Cambiar contraseña", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>