<div class="modal fade" id="comentario_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Escribí tu comentario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_for([recipe, recipe.comments.build]) do |form| %> 
                    <%= render "layouts/msj_errores", form: form %>
                    
                    <div class="mb-3">
                        <%= form.rich_text_area :content %>
                    </div>  
            </div>
            <div class="modal-footer">
                <%= form.button "Comentar", method: :post, class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            <% end %>
        </div>
    </div>
</div>