<%= render 'layouts/navtabs', recipe: @recipe %>
<ul class="list-group list-group-flush">
    <% @recipe.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
    <% end %>
</ul>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comentario_modal">
    Comentar
</button>
<%= render 'comments/add_comment', recipe: @recipe %>
