<div style="display:flex; justify-content:center; flex-direction:column; align-items:center;">
    <%= render 'layouts/navtabs', recipe: @recipe %>

    <div style="display:flex; height: 10%">
    </div>

    <div style="background-color: rgba(255, 255, 255, 0.95); display:flex; flex-direction:column; width:50%; padding: 5%; border-radius: 30px;">

        <ul class="list-group list-group-flush">
            <% @comments.each do |comment| %>
                <%= render 'comments/comment', comment: comment %>
            <% end %>
        </ul>

        <div style="display:flex; height: 40px">
        </div>

        <% if @comments.any? %>
            <%== pagy_bootstrap_nav(@pagy) %>
        <% end %>
        <button type="button" class="btn btn-primary" style="margin-left: 50%;" data-bs-toggle="modal" data-bs-target="#comentario_modal">
            Comentar
        </button>
        <%= render 'comments/add_comment', recipe: @recipe %>
    </div>
</div>
