<div class="row m-0 justify-content-center align-items-center contenedor">
        <h1>&nbsp Sobre Cookpedia &nbsp</h1>
        <div>Cookpedia es una página desarrollada para el Trabajo Práctico final de la materia Teoría de Lenguaje (75.31) de la Facultad de Ingeniería UBA.</div>
        <div>Es una página que permite al usuario crear sus propias recetas y ver, buscar, comentar y likear otras.</P>
</div>