

 <div  style="display: flex" >
        <h1>&nbsp Sobre Cookpedia &nbsp</h1>
</div>

<p>Cookpedia es una página desarrollada para el Trabajo Práctico final de la materia Teoría de Lenguaje (75.31) de la Facultad de Ingeniería UBA.</p>
<p>Es una página que permite al usuario crear sus propias recetas y ver, buscar y puntuar otras.</P>
<%= link_to "Página principal", root_path  %>