
<div style="padding:2%; width:75%; align-items:center; margin-left:12%;" class=" contenedor">
        <h1 >&nbsp Sobre Cookpedia &nbsp</h1>

        <div style="padding:1%">
        </div>

        <div>
                Cookpedia es una página desarrollada para el Trabajo Práctico final de la materia Teoría de Lenguaje (75.31) de la Facultad de Ingeniería UBA.
        </div>
        <div>
                Es una página que permite al usuario crear sus propias recetas y ver, buscar, comentar y likear otras.
        </div>

        <div style="padding:1%">
        </div>

        <%= image_tag "food-banner.jpeg",  style: "width: 100%; border-radius: 30px;" %>

</div>

