<div>
    <div>
        <h1>Bienvenido a Cookpedia</h1>
        <%= link_to "Sobre Cookpedia", about_path  %>
    </div>
    
    <%= link_to "Iniciar Sesión", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Registrate", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<% if @user %>
    <h1> Hola <%= Actual.user.nombre %></h1>
<% end %>