<div>
    <div  style="display: flex">
        <h1> &nbsp Bienvenido a Cookpedia</h1>
    </div>
    <%= link_to "Sobre Cookpedia", about_path  %>
    
    <%= link_to "Inicia Sesión!", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Registrate!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<% if @user %>
    <h1> Hola <%= Actual.user.nombre %></h1>
<% end %>