<div class="row m-0 justify-content-center align-items-center" style='display:flex'>
    <div style="display:inline; flex-direction:column; justify-content:center;" class="col-md-6 col-auto p-5 contenedor">
        <h1 >Bienvenido a Cookpedia</h1>

        <div style="display:flex; justify-content:center" class="mb-3">
            <div style="display:flex; width: 30%; justify-content:center;">
                <%= link_to "Inicia Sesión!", login_path, class: "btn btn-lg btn-primary" %>
            </div>
            <div style="display:flex; width: 30%; justify-content:center;">
                <%= link_to "Registrate!", signup_path, class: "btn btn-lg btn-primary" %>
            </div>

        </div>

        <%= link_to "Sobre Cookpedia", about_path  %>
    </div>
</div>


<% if @user %>
    <h1> Hola <%= Actual.user.nombre %></h1>
<% end %>
