<div class="row m-0 justify-content-center align-items-center">
    <div class="col-md-6 col-auto p-5">  
        <h1> Editar Perfil </h1>
        <%= render 'form', user: @user, path: edit_user_path %>
    </div>
</div>