<div style="display: flex;">

    <div style="display: flex; flex-direction: column; width: 100%; align-content: center;">
        <div style="display: flex; align-items: center;">

            <h1> &nbsp Mis Recetas </h1>
            <div style="display: inline-block;">
                <%= button_to new_recipe_path, method: :get, class: "btn" do%>
                    <i class="bi bi-plus-square"></i>
                <% end %>
            </div>
        </div>

        <%= render 'layouts/table', recipes: @recipes, buttons:true %>
    </div>

</div>
