<div class="row m-0 justify-content-center align-items-center">
    <div class="col-md-6 col-auto p-5 contenedor">  
        <h1> Crear Receta</h1>
        <%= render 'form', recipe: @recipe, path: new_recipe_path %>
    </div>
</div>