<div class="row col-sm-12">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <image src="<%= url_for(@recipe.image) %>" >
            <div class="card-body">
                <h5 class="card-title"> <%= @recipe.nombre %> </h5>
                <p class="card-text"> <%= @recipe.descripcion %> </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        
    </div>
</div>