<div style="display: flex; flex-direction: column; width: 25%; background-color: rgba(0, 0, 0, 0.75); margin-left:5%; padding:1%; border-radius: 30px;">
    <h2 style="font-size: 20px; padding: 5%; color: white;text-align: center;"> ¿No sabes que cocinar? </h2>

    <div style="display: flex; flex-direction: column;">
        <p style="color: white;text-align: center">Prueba concinar algo el siguiente ingrediente "<%=random_product["value"] %>" </p>

        <img src="<%=random_product["source_image_url"]%>">

    </div>

     <tbody style= 'background-color:whitesmoke'>



    </tbody>
</div>
