<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to "Receta",  recipe_path(recipe), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Comentarios",  recipe_comment_path(recipe), class: "nav-link" %>
  </li>
</ul>
